/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}
.cursor-pointer{
    cursor: pointer;
}
@for $i from 8 through 50 {
    .fs-#{$i}px{
        font-size: #{$i}px;
    }
    .h-#{$i}px{
        height: #{$i}px;
    }
    .w-#{$i}px {
        width: #{$i}px;
    }
}
.no-after:after{
    content: '';
    display: none;
}